# Why Pandas? or What is Pandas?
Pandas can handle the different types of data

Tabular Data : Excel :Rows &Cols in similar way tabular data is k/as combination of rows and cols.
It can handle unstructured data..
ordered and unordered data.
homogeneous data

### Pandas can handle 2 types of data structures
Series (1-dimensional)
DataFrames (2-D)

# What Pandas can do.?
missing data
Insert/Delete operations on DataFrame

We can align the data (Data Alignment/reindexing)

We can group the data

we can convert data into different forms/formats

We can performing joining and merging operations

reshaping

pivoting

we can load flat files (Text files)

We can time series data

In [1]:
import pandas as pd

In [2]:
# create a dictionary

passenger_list = {
    "Name":["pramod","avinash","abhishek","pooja"],
    "Age" : [23,22,21,20],
    "Gender" : ["male","male","male","Female"]
}
print(passenger_list)

{'Name': ['pramod', 'avinash', 'abhishek', 'pooja'], 'Age': [23, 22, 21, 20], 'Gender': ['male', 'male', 'male', 'Female']}

In [3]:
# create a datafreme from above dictionary
df = pd.DataFrame(passenger_list)

In [4]:
df

       Name  Age  Gender
0    pramod   23    male
1   avinash   22    male
2  abhishek   21    male
3     pooja   20  Female

In [5]:
type(df)

pandas.core.frame.DataFrame

# Series
Each column in a DataFrame is a series

In [6]:
df

       Name  Age  Gender
0    pramod   23    male
1   avinash   22    male
2  abhishek   21    male
3     pooja   20  Female

In [7]:
#Check the datatypes of column

type(df["Name"])

pandas.core.series.Series

In [12]:
df["Name"].dtypes

dtype('O')

In [13]:
# create a series
ages = [21,25,26,28,76]

In [16]:
# converting list into series (note: in pd.Series here "S" is Uppercase)
series_1 = pd.Series(ages)
series_1

0    21
1    25
2    26
3    28
4    76
dtype: int64

In [17]:
type(series_1)

pandas.core.series.Series

In [19]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
# create a series from dictionary
dict1 = {"a": 33, "b":35,"c":36}

series_2 = pd.Series(dict1)
series_2

a    33
b    35
c    36
dtype: int64

In [23]:
marks = pd.Series([50,39,49], name = "Marks")
marks

0    50
1    39
2    49
Name: Marks, dtype: int64

In [24]:
marks = pd.Series([50.5,39,49], name = "Marks")
marks

0    50.5
1    39.0
2    49.0
Name: Marks, dtype: float64

In [25]:
series_2

a    33
b    35
c    36
dtype: int64

In [26]:
# Extract the index name of seies_2
series_2.index

Index(['a', 'b', 'c'], dtype='object')

In [27]:
# convert series to array
series_1.values

array([21, 25, 26, 28, 76], dtype=int64)

In [32]:
dict1

{'a': 33, 'b': 35, 'c': 36}

In [30]:
# pd.Series(dict1)
pd.Series(data = dict1.values(),index = dict1.keys())

a    33
b    35
c    36
dtype: int64

In [31]:
pd.Series(dict1,index = ["x","y","z"])

x   NaN
y   NaN
z   NaN
dtype: float64

In [33]:
pd.Series(dict1,index = ["x","b","z"])

x     NaN
b    35.0
z     NaN
dtype: float64

In [35]:
import numpy as np

In [36]:
type(np.nan)

float

In [38]:
pd.Series(data = dict1.keys(), index = dict1.values())

33    a
35    b
36    c
dtype: object

# Operation on the series

In [40]:
# create a series from as array
array1 = np.random.randint(1,50,10)
series_array = pd.Series(array1)

In [41]:
series_array

0    40
1    46
2     3
3    11
4     8
5    19
6    33
7    19
8    26
9    47
dtype: int32

# How to index a series

In [42]:
series_array[5]

19

In [43]:
marks[2]

49.0

In [44]:
series_2

a    33
b    35
c    36
dtype: int64

In [45]:
series_2[1]

35

In [46]:
series_2["b"]

35

In [47]:
# slicing
series_array[3:7:2]

3    11
5    19
dtype: int32

# sorting in a series

In [48]:
series_array

0    40
1    46
2     3
3    11
4     8
5    19
6    33
7    19
8    26
9    47
dtype: int32

In [51]:
series_array.sort_values(ascending = False) # descending order

9    47
1    46
0    40
6    33
8    26
5    19
7    19
3    11
4     8
2     3
dtype: int32

In [52]:
series_array.sort_values(ascending = True) # asending order

2     3
4     8
3    11
5    19
7    19
8    26
6    33
0    40
1    46
9    47
dtype: int32

In [53]:
# sort the series with index number reorderd : resetting the index
series_array.sort_values(ascending = True).reset_index(drop = True)

0     3
1     8
2    11
3    19
4    19
5    26
6    33
7    40
8    46
9    47
dtype: int32

In [54]:
# sort the values on the basis of index
series_array.sort_index(ascending = False)

9    47
8    26
7    19
6    33
5    19
4     8
3    11
2     3
1    46
0    40
dtype: int32

#  arithmetic operation

In [55]:
series_array

0    40
1    46
2     3
3    11
4     8
5    19
6    33
7    19
8    26
9    47
dtype: int32

In [56]:
# extracting the index of maximum element
series_array.argmax()

9

In [58]:
series_array.idxmax()

9

In [59]:
series_array.max()

47

In [60]:
series_array[series_array.argmax()]

47

In [61]:
series_array[series_array.idxmax()]

47

In [62]:
# smallest element index in the series
series_array.argmin()

2

In [64]:
series_array.idxmin()

2

In [65]:
series_array.min()

3

In [66]:
series_array[series_array.idxmin()]

3

In [67]:
series_array[series_array.argmin()]

3

#  count operation on the series

In [68]:
series3 = pd.Series([10,20,30,10,30,20,50,40,30,20,60,70,60,50,30,20,10])

In [70]:
# unique number of element
series3.unique()

array([10, 20, 30, 50, 40, 60, 70], dtype=int64)

In [71]:
# totale number of unique elements
series3.nunique()

7

In [73]:
# occurance of each elements
series3.value_counts()

20    4
30    4
10    3
50    2
60    2
40    1
70    1
dtype: int64

In [74]:
# taotal number of elements
series3.count()

17

#  Create a series with missing values

In [75]:
series4 = pd.Series([1,5,2,np.nan])

In [76]:
series4

0    1.0
1    5.0
2    2.0
3    NaN
dtype: float64

In [77]:
series4.count() # count will not count missing values

3

In [79]:
# total size of series
series4.size      # it counts total number of elements including missing values

4

In [80]:
series_1

0    21
1    25
2    26
3    28
4    76
dtype: int64

In [81]:
series_1.add(2) # it add (+) 2 in each elements

0    23
1    27
2    28
3    30
4    78
dtype: int64

In [82]:
series_1.sub(2)

0    19
1    23
2    24
3    26
4    74
dtype: int64

In [83]:
series_1.multiply(2)

0     42
1     50
2     52
3     56
4    152
dtype: int64

In [84]:
series_1.divide(2)

0    10.5
1    12.5
2    13.0
3    14.0
4    38.0
dtype: float64

In [85]:
# return the Quotient and remainder both
q,r = series_1.divmod(4)

In [86]:
q

0     5
1     6
2     6
3     7
4    19
dtype: int64

In [87]:
r

0    1
1    1
2    2
3    0
4    0
dtype: int64

In [88]:
series_1.mod(4)  # only reminder

0    1
1    1
2    2
3    0
4    0
dtype: int64

In [89]:
series_1

0    21
1    25
2    26
3    28
4    76
dtype: int64

In [90]:
series_3 = pd.Series([1,2,3,4,5,5])
series_3

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

In [91]:
series_1.add(series_3)

0    22.0
1    27.0
2    29.0
3    32.0
4    81.0
5     NaN
dtype: float64

In [92]:
series_1

0    21
1    25
2    26
3    28
4    76
dtype: int64

In [93]:
series_2

a    33
b    35
c    36
dtype: int64

In [94]:
series_1.add(series_2)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
a   NaN
b   NaN
c   NaN
dtype: float64

In [95]:
series4

0    1.0
1    5.0
2    2.0
3    NaN
dtype: float64

In [96]:
series_1.add(series4)

0    22.0
1    30.0
2    28.0
3     NaN
4     NaN
dtype: float64

In [97]:
series_1, series4

(0    21
 1    25
 2    26
 3    28
 4    76
 dtype: int64,
 0    1.0
 1    5.0
 2    2.0
 3    NaN
 dtype: float64)

In [99]:
series_1.add(series4,fill_value=0)

0    22.0
1    30.0
2    28.0
3    28.0
4    76.0
dtype: float64

#  Aggregate Function

In [100]:
series_array

0    40
1    46
2     3
3    11
4     8
5    19
6    33
7    19
8    26
9    47
dtype: int32

In [101]:
# sum of all elements in the series
series_array.sum()

252

In [102]:
# cumulative sum
series_1

0    21
1    25
2    26
3    28
4    76
dtype: int64

In [103]:
series_1.cumsum()

0     21
1     46
2     72
3    100
4    176
dtype: int64

In [104]:
series_1.cumprod()

0          21
1         525
2       13650
3      382200
4    29047200
dtype: int64

In [106]:
# find the nean of the series : mean,mode,median,variance, standard deviation 
series_1.aggregate(func = "mean")

35.2

In [107]:
series_1.agg(func = "mean")

35.2

# Drop the duplicate from the series

In [111]:
series3.drop_duplicates()

0     10
1     20
2     30
6     50
7     40
10    60
11    70
dtype: int64

In [112]:
series3.drop_duplicates().reset_index(drop = True)

0    10
1    20
2    30
3    50
4    40
5    60
6    70
dtype: int64

In [114]:
# drop any missing values
series4.dropna()

0    1.0
1    5.0
2    2.0
dtype: float64

#  append two series

In [115]:
series_1

0    21
1    25
2    26
3    28
4    76
dtype: int64

In [116]:
series_2

a    33
b    35
c    36
dtype: int64

In [117]:
series_1.append(series_2)

0    21
1    25
2    26
3    28
4    76
a    33
b    35
c    36
dtype: int64

In [118]:
# ignore the index while appending
series_1.append(series_2,ignore_index=True)

0    21
1    25
2    26
3    28
4    76
5    33
6    35
7    36
dtype: int64

In [119]:
#clip the series : any number below 25 I want to make it as 30 and any number above 80 i want to make it as 80
series_1

0    21
1    25
2    26
3    28
4    76
dtype: int64

In [120]:
series_1.clip(25,80)

0    25
1    25
2    26
3    28
4    76
dtype: int64

In [121]:
# create a mixed series
series5 =pd.Series([[1,2,3],'foo',[],[3,4]])
series5

0    [1, 2, 3]
1          foo
2           []
3       [3, 4]
dtype: object

# I want below output
1

2

3

foo

nan

3

4

In [122]:
series5.explode() # explode each element in a row

0      1
0      2
0      3
1    foo
2    NaN
3      3
3      4
dtype: object

In [123]:
series5.explode().reset_index(drop=True)

0      1
1      2
2      3
3    foo
4    NaN
5      3
6      4
dtype: object

#  DataFrames

In [124]:
df

       Name  Age  Gender
0    pramod   23    male
1   avinash   22    male
2  abhishek   21    male
3     pooja   20  Female

In [125]:
df["Age"].max()

23

In [126]:
df["Age"].min()

20

In [127]:
# df['Age'].mean()
df['Age'].agg(func='mean')

21.5

In [128]:
#find the unique values of Gender
df['Gender'].unique()

array(['male', 'Female'], dtype=object)