In [1]:
if 3>2:
    print(True)
else:
    print(False)

True

In [2]:
if 4<2:
    print(True)
else:
    print(False)

False

In [3]:
for ele in range(5):
    print(ele)

0
1
2
3
4

In [4]:
for ele in range(1,5):
    print(ele, end= " ")

1 2 3 4

In [5]:
list1 = ["Mango","Banana","Cherry","pineapple"]

In [6]:
for ele in list1:
    print(ele)

Mango
Banana
Cherry
pineapple

In [7]:
for idx, ele in enumerate(list1):
    print(idx, ele)

0 Mango
1 Banana
2 Cherry
3 pineapple

In [8]:
for ele in range(10,1,-1):
    print(ele)

10
9
8
7
6
5
4
3
2

In [9]:
list1 = ['apple','banana','cherry','kiwi','mango']
# filter apple : ['banana','cherry','kiwi','mango']

In [10]:
list1 = ['banana','cherry','apple','kiwi','mango']
list1

['banana', 'cherry', 'apple', 'kiwi', 'mango']

In [14]:
for i in list1:
    if i == "apple":
        print(f"{i} found breaking the loop")
        break
    else:
        print(i)

banana
cherry
apple found breaking the loop

In [15]:
list1

['banana', 'cherry', 'apple', 'kiwi', 'mango']

In [16]:
for i in list1:
    if i == "apple":
        continue
    else:
        print(i)

banana
cherry
kiwi
mango

In [17]:
list1

['banana', 'cherry', 'apple', 'kiwi', 'mango']

In [20]:
output = []

for ele in list1:
    if(ele == "apple"):
        continue
    else:
        output.append(ele)

In [21]:
output

['banana', 'cherry', 'kiwi', 'mango']

In [22]:
[ele for ele in list1 if (ele != "apple")]

['banana', 'cherry', 'kiwi', 'mango']

In [26]:
list1 = ['apple','banana','cherry','kiwi','mango']
#output : ['apple','cherry','mango']

In [27]:
new_list= []

for idx,ele in enumerate(list1):
    if idx%2 == 0:
        new_list.append(ele)

In [28]:
new_list

['apple', 'cherry', 'mango']

In [ ]:
#  output : ["banana", "kiwi"]

In [30]:
new_list = []

for idx, ele in enumerate(list1):
    if idx%2 != 0:
        new_list.append(ele)

In [31]:
new_list

['banana', 'kiwi']

In [32]:
[ele for idx,ele in enumerate(list1) if idx%2 != 0]

['banana', 'kiwi']

In [33]:
list1

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [34]:
new_list = []

for ele in list1:
    if "a" not in ele:
        new_list.append(ele)

In [36]:
list1

['apple', 'banana', 'cherry', 'kiwi', 'mango']

# <font color = red> List Comprehensions

In [38]:
#  one line 

new_list = []

for ele in list1:
    if "a" not in ele:
        new_list.append(ele)

In [40]:
new_list

['cherry', 'kiwi']

In [42]:
[ele for ele in list1 if "a" not in ele]

['cherry', 'kiwi']

In [43]:
# [0,1,2,3,4,5,6,7,8,9,10]

In [44]:
list1

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [45]:
[i.title() for i in list1]

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango']

### <font color = brown> Find the number between 0 to 100 which are divisible by 3

In [47]:
[i for i in range(1,101) if i%3 ==0]

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [48]:
string = "python is a roadmap for data science"

In [49]:
for i in string:
    if i == "a":
        print(i)

a
a
a
a
a

In [51]:
[i for i in string if i == " "]

['a', 'a', 'a', 'a', 'a']

In [52]:
len([i for i in string if i == " " ])

6

In [54]:
"".join([i for i in string if i not in "aeiou"])

'pythn s  rdmp fr dt scnc'

In [55]:
string = "Python is a roadmap for Data Science"
string.split()

['Python', 'is', 'a', 'roadmap', 'for', 'Data', 'Science']

In [56]:
dict1 = {}

for i in string.split():
    dict1[i] = len(i)

In [57]:
dict1

{'Python': 6, 'is': 2, 'a': 1, 'roadmap': 7, 'for': 3, 'Data': 4, 'Science': 7}

In [58]:
len("pramod")

6

In [59]:
string.split()

['Python', 'is', 'a', 'roadmap', 'for', 'Data', 'Science']